body {
    background-color: #f5f6f8;
}

.main {
    height: 100vh;
}

.search-container{
    display: flex;
    align-items: center;
}

.map-container {
    height: 500px;
}

#map {
    border-radius: 12px;
    overflow: hidden;
}

.header-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.chart-container {
    margin-left: 0;
    margin-right: 0;
}

.chart-container .col {
    background-color: #EFF2F6 ;
    border-radius: 12px;
}

.linear-chart {
    height: 100%;
}

.title-container h2 {
    color: #fc3C3C;
    margin-bottom: 0;
}

.title-container h4 {
    text-transform: uppercase;
    color: #CACBCF;
}

.stats-container .card {
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 9px -4px rgba(0,0,0,0.5);
}

.stats-container .card-body {
    padding: 1rem;
}

.stats-container .card-title {
    color: #695d5c;
    font-weight: 400;
}

.stats-container .card-text {
    font-weight: 600;
}

.stats-container .total {
    font-size: 0.8rem;    
}

.side-panel-container {
    background-color: #fff;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    box-shadow: 0 0 9px -4px rgba(0,0,0,0.5);
    padding-top: 15px;
}

.cases-table-container h4, .chart-container h4 {
    font-weight: 400;
    color: #6A5D5D;
}

.country-data .table td {
    border: none;
    padding: 0.5rem;
}


.total-number {
    color: #cc1034;
}

.recovered-number {
    color: #7fd992;
}

.deaths-number {
    color: #fa5575;
}

.tab-selection {
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    right: 0;
    transition: all 0.2 ease-in-out;
}

.card:hover > .tab-selection {
    opacity: 1;
}

.cases .tab-selection {
    background-color: #cc1034;
}

.recovered .tab-selection {
    background-color: #7fd992;
}

.deaths .tab-selection {
    background-color: #fa5575

}